// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
  color: #1c1c1c;
  font-style: bold;
  font-size: 2rem;
  font-family: serif;
}

body{
  margin: 0;
}

.header,
.footer{
  width: 100vw;
  height: fill-content;
  background: #1c1c1c;

  p{
    padding: 3rem;
    color: #efefef;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
  }
}

.header{
  .nav{
    a{
      color: #efefef;
      padding: 1rem;
    }
  }
}
